In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('movies_metadata_update1.csv', encoding = "ISO-8859-1")
df.head()

,adult,genres,id,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,Jaccard_Similarity
0,False,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,0.000000
1,False,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,0.033175
2,False,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,0.044077
3,False,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.85949,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,0.067485
4,False,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.38752,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,0.064516

In [3]:
cols = list(df.columns.values) #Make a list of all of the columns in the df
cols.pop(cols.index('overview')) #Remove overview from list
cols.pop(cols.index('tagline')) #Remove tagline from list
df = df[cols+['overview','tagline']] #append them at the end of the dataset

In [4]:
df

,adult,genres,id,imdb_id,original_language,original_title,popularity,production_companies,production_countries,release_date,runtime,spoken_languages,status,title,video,vote_average,vote_count,Jaccard_Similarity,overview,tagline
0,False,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,en,Toy Story,21.9469,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Toy Story,False,7.700000,5415.000000,0.000000,"Led by Woody, Andy's toys live happily in his ...",NaN
1,False,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,Jumanji,17.0155,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Jumanji,False,6.900000,2413.000000,0.033175,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!
2,False,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,en,Grumpier Old Men,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Grumpier Old Men,False,6.500000,92.000000,0.044077,A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...
3,False,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,en,Waiting to Exhale,3.85949,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Waiting to Exhale,False,6.100000,34.000000,0.067485,"Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...
4,False,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,en,Father of the Bride Part II,8.38752,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Father of the Bride Part II,False,5.700000,173.000000,0.064516,Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",439050,tt6209470,fa,Ø±Ú¯ Ø®ÙØ§Ø¨,0.072051,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",NaN,90.0,"[{'iso_639_1': 'fa', 'name': 'ÙØ§Ø±Ø³Û'}]",Released,Subdue,False,4.000000,1.000000,0.231884,Rising and falling between a man and woman.,Rising and falling between a man and woman
45462,False,"[{'id': 18, 'name': 'Drama'}]",111109,tt2028550,tl,Siglo ng Pagluluwal,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,Century of Birthing,False,9.000000,3.000000,0.000000,An artist struggles to finish his work while a...,NaN
45463,False,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,tt0303758,en,Betrayal,0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Betrayal,False,3.800000,6.000000,0.098592,"When one of her hits goes wrong, a professiona...",A deadly game of wits.
45464,False,[],227506,tt0008536,en,Satana likuyushchiy,0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,87.0,[],Released,Satan Triumphant,False,6.014877,117.382886,0.000000,"In a small town live two brothers, one a minis...",NaN
45465,False,[],461257,tt6980792,en,Queerama,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Queerama,False,6.014877,117.382886,0.000000,50 years after decriminalisation of homosexual...,NaN

In [5]:
#Creating train and test datasets
train = df[df['release_date'] < '20140101'] 
test = df[df['release_date'] > '20131231']

In [6]:
#Replacing all non-alphabetic characters with blank spaces
data=train.iloc[:,18:20]
data.replace("[^a-zA-Z]"," ",regex=True, inplace=True)

In [7]:
data

,overview,tagline
0,Led by Woody Andy s toys live happily in his ...,NaN
1,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement
2,A family wedding reignites the ancient feud be...,Still Yelling Still Fighting Still Ready for...
3,Cheated on mistreated and stepped on the wom...,Friends are the people who let you be yourself...
4,Just when George Banks has recovered from his ...,Just When His World Is Back To Normal He s ...
...,...,...
45459,It s the year AD The world s most danger...,NaN
45460,Yet another version of the classic epic with ...,NaN
45462,An artist struggles to finish his work while a...,NaN
45463,When one of her hits goes wrong a professiona...,A deadly game of wits
45464,In a small town live two brothers one a minis...,NaN

In [8]:
#Converting all characters to lower case for better matching
data["overview"] = data["overview"].str.lower()
data = data.replace(np.nan, '', regex=True)
data["tagline"] = data["tagline"].str.lower()

In [9]:
data

,overview,tagline
0,led by woody andy s toys live happily in his ...,
1,when siblings judy and peter discover an encha...,roll the dice and unleash the excitement
2,a family wedding reignites the ancient feud be...,still yelling still fighting still ready for...
3,cheated on mistreated and stepped on the wom...,friends are the people who let you be yourself...
4,just when george banks has recovered from his ...,just when his world is back to normal he s ...
...,...,...
45459,it s the year ad the world s most danger...,
45460,yet another version of the classic epic with ...,
45462,an artist struggles to finish his work while a...,
45463,when one of her hits goes wrong a professiona...,a deadly game of wits
45464,in a small town live two brothers one a minis...,

In [10]:
#Joing the overview and tagline columns
' '.join(str(x) for x in data.iloc[0,0:3])

'led by woody  andy s toys live happily in his room until andy s birthday brings buzz lightyear onto the scene  afraid of losing his place in andy s heart  woody plots against buzz  but when circumstances separate buzz and woody from their owner  the duo eventually learns to put aside their differences  '

In [11]:
text = []
for row in range(0,len(data.index)):
    text.append(' '.join(str(x) for x in data.iloc[row,0:3]))

In [12]:
text[1]

'when siblings judy and peter discover an enchanted board game that opens the door to a magical world  they unwittingly invite alan    an adult who s been trapped inside the game for    years    into their living room  alan s only hope for freedom is to finish the game  which proves risky as all three find themselves running from giant rhinoceroses  evil monkeys and other terrifying creatures  roll the dice and unleash the excitement '

In [13]:
#The sklearn.feature_extraction module can be used to extract features in a format supported by machine learning
#algorithms from datasets consisting of formats such as text and image.

#TfidfVectorizer - Transforms text to feature vectors that can be used as input to estimator.

#CountVectorizer provides a simple way to both tokenize a collection of text documents and build a vocabulary of 
#known words, but also to encode new documents using that vocabulary
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [14]:
#Used for Computing the distance matrix from a vector array X and optional Y.

#Cosine similarity computes similarity as the normalized dot product of X and Y
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity

In [15]:
#An n-gram is just a string of n words in a row.
#fit_transform is convenient and efficient for modelling and transforming the training data simultaneously.

tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(text)
print(tfidf_matrix.shape)

(41331, 1013054)

In [16]:
print(tfidf_matrix)

  (0, 46207)	0.11415497850875261
  (0, 510272)	0.14095681536648572
  (0, 289468)	0.12481000477814944
  (0, 260420)	0.14095681536648572
  (0, 651344)	0.14095681536648572
  (0, 993798)	0.14095681536648572
  (0, 113105)	0.14095681536648572
  (0, 798707)	0.14095681536648572
  (0, 147977)	0.14095681536648572
  (0, 113086)	0.14095681536648572
  (0, 686011)	0.14095681536648572
  (0, 993800)	0.14095681536648572
  (0, 402375)	0.14095681536648572
  (0, 30711)	0.14095681536648572
  (0, 679411)	0.13573079219574571
  (0, 538932)	0.14095681536648572
  (0, 14241)	0.13573079219574571
  (0, 783291)	0.14095681536648572
  (0, 523019)	0.14095681536648572
  (0, 113098)	0.13573079219574571
  (0, 102143)	0.14095681536648572
  (0, 82876)	0.14095681536648572
  (0, 30671)	0.14095681536648572
  (0, 766979)	0.14095681536648572
  (0, 394832)	0.14095681536648572
  :	:
  (41330, 174556)	0.059926712108502214
  (41330, 46484)	0.07178851613924497
  (41330, 505869)	0.05015876490787078
  (41330, 664921)	0.05638808185058458
  (41330, 825098)	0.04073997815356962
  (41330, 163170)	0.041883426233388595
  (41330, 232412)	0.053371434699238135
  (41330, 819458)	0.046341193836264324
  (41330, 653457)	0.06934416692863636
  (41330, 739066)	0.04493515460928853
  (41330, 503810)	0.045403113005749896
  (41330, 427054)	0.04759654033006859
  (41330, 529101)	0.03733615396512458
  (41330, 900383)	0.04513039629028193
  (41330, 2854)	0.06450630039874813
  (41330, 590566)	0.05341335829415978
  (41330, 626203)	0.04207795789721114
  (41330, 915250)	0.03859706276135658
  (41330, 104335)	0.04401373590751088
  (41330, 518912)	0.027757214723885492
  (41330, 982462)	0.03729200746944818
  (41330, 375217)	0.045121436124781325
  (41330, 250509)	0.058445006770600244
  (41330, 238736)	0.047619670564425114
  (41330, 528004)	0.04266515285259813

In [ ]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [18]:
print(cosine_sim)

[[1.         0.00520369 0.         ... 0.         0.         0.00241223]
 [0.00520369 1.         0.01313874 ... 0.01807135 0.02223374 0.00740882]
 [0.         0.01313874 1.         ... 0.         0.         0.0046171 ]
 ...
 [0.         0.01807135 0.         ... 1.         0.         0.        ]
 [0.         0.02223374 0.         ... 0.         1.         0.        ]
 [0.00241223 0.00740882 0.0046171  ... 0.         0.         1.        ]]

In [19]:
titles = train['title']
indices = pd.Series(text.index, index=train['title'])

In [20]:
indices.head()

title
Toy Story                      <built-in method index of list object at 0x7f9...
Jumanji                        <built-in method index of list object at 0x7f9...
Grumpier Old Men               <built-in method index of list object at 0x7f9...
Waiting to Exhale              <built-in method index of list object at 0x7f9...
Father of the Bride Part II    <built-in method index of list object at 0x7f9...
dtype: object